# ELF files
*.o
*.pchi
mqcl
dvr
*gp_test
gple

# scripts, especially for submission
*.sh
*PBS*
*pbs*

# output and input files
*.txt
*.png
*.gif
*log
out*
*put
*result*/

# IDE configuration
.vs*/
*.sln
*.vcxproj*

# Doxygen document
*Doxyfile*
html/
latex/

# latex intermediate
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex(busy)
*.synctex.gz
