# ELF files
*.o
*.pchi
*.gch
*.x

# scripts, especially for submission
*.sh
*PBS*
*pbs*

# output and input files
*.txt
*.png
*.gif
*log
out*
*put
*result*/

# IDE configuration
.vs*/
*.sln
*.vcxproj*

# Doxygen document
*Doxyfile*
html/
latex/

# notes
notes/
